* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 2000% 2000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  width: 100vw;
  /* padding: 0 3rem; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app {
  /* position: relative; */
  /* align-items: center;
  text-align: center; */
}

.app,
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top h1,
.top input {
  /* margin: 0; */
}

.top h1 {
  font-size: 1.25rem;
  /* font-size: 20px; */
  /* margin: 2rem 1.5rem; */
  opacity: 0.9;
  color: #fff;
  /* text-align: center; */
}

.top .search-bar {
  /* max-width: 450px; */
  /* width: 320px; */
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  padding: 5px 5px 5px 20px;
  /* margin: 0 1.5rem; */
  border-radius: 50px;
  backdrop-filter: blur(4px) saturate(80%);
}

.search-input {
  width: 85%;
  font-size: 0.7rem;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.search-input::placeholder {
  color: #fff;
  opacity: 0.9;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-lens {
  width: 35px;
  border-radius: 50px;
  padding: 0.4rem;
  background: rgba(255,255,255,0.4);
  /* cursor: pointer; */
}

/*--------image container-------*/

.image-container,
.img-wrapper {
  border-radius: 10px;
}

.image-container {
  /* display: flex;
  flex-direction: column; */
  /*flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;*/
  /* max-width: 800px; */
  /* width: 85vw; */
  background: #fff;
  margin: 40px 0 30px 0;
  padding-top: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); 
}

.img-wrapper {
  /* position: relative; */
  align-items: center;
  overflow: hidden;
  height: 250px;
  width: 300px;
  /* height: 42vh;
  width: 79vw; */
  margin: 30px 10px 5px 10px;
}

/* .img-wrapper:hover .img-overlay {
  display: block;
}

.img-wrapper .img-overlay {
  display: none;
  color: #fff;
  font-size: 10px;
  background-image: radial-gradient(circle at center, rgba(0,0,0,0) 30%, rgba(0,0,0,0.4) 100%);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 90px;
  height: 100%;
  width: 100%;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em red;
  cursor: pointer;
} */

.image {
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
  object-fit: cover;
}

.overlay,
.modal-image,
.btn-close-modal {
  display: none;
}

/* -------Modal-------
.active-modal {
  overflow-y: hidden;
}

.modal {
  display: none;
  z-index: 99;
}

.modal, 
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(77, 75, 75, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 50px 20px ;
  border: 3px solid black;
}

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.btn-close-modal:hover {
  background: rgb(185, 54, 54);
  padding: 9px;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.modal-image {
  max-width: 600px;
  min-width: 300px;
}



/*-------Modal Image Info-------*/

.modal-image-info {
  /* display: flex; */
  /* justify-content: space-around; */
  margin-bottom: 30px;
  position: relative;
  z-index: 99;
}

.modal-image-info p {
  padding: 0 8px;
  font-size: 11px;
  align-self: center;
}

.photographer,
.likes {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.photographer {
  position: absolute;
  top: -284px;
  left: 12px;
}

.photographer-image {
  width: 25px;
  border-radius: 50%;
}

.likes-icon {
  width: 18px;
  height: 16px;
}

.likes {
  justify-content: flex-end;
  margin: 1px 8px;
}

/* ======= Media Queries ======= */

@media (min-width: 420px) {
  .app .top .search-bar {
    width: 600px;
  }

  .top .search-bar {
    /* margin: 0 2rem; */
  }

  .search-lens {
    cursor: pointer;
  }

  /*--------image container-------*/

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 80%;
  /* padding-top: 20px; */
  background: red;
  margin: 60px 0 150px 0;
  box-shadow: none;
}

.img-wrapper {
  position: relative;
  /* border-radius: 10px; */
  /* overflow: hidden; */
  /* height: 250px; */
  width: 250px;
  margin: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); 
  /* background-color: rgba(255,255,255,0.2); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

  .img-wrapper .img-overlay {
    display: none;
    color: #fff;
    font-size: 10px;
    background-image: radial-gradient(circle at center, rgba(0,0,0,0) 30%, rgba(0,0,0,0.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 110px;
    height: 100%;
    width: 100%;
    /* text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em red; */
    cursor: pointer;
  }

  .img-wrapper .img-overlay p {
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 8px;
    border-radius: 50px;
  }

  .img-wrapper:hover .img-overlay {
    display: block;
  }

  .image {
    cursor: pointer;
  }

  /* -------Modal------- */
  .active-modal {
    overflow-y: hidden;
  }

  .modal {
    display: none;
    z-index: 99;
  }

  .overlay,
  .modal-image,
  .btn-close-modal {
    display: block;
  }

  .modal, 
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(77, 75, 75, 0.8);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 50px 20px ;
    border: 3px solid black;
  }

  .btn-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }

  .btn-close-modal:hover {
    background: rgb(185, 54, 54);
    padding: 9px;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }

  .modal-image {
    max-width: 600px;
    min-width: 300px;
  }

  /*-------Modal Image Info-------*/

  .modal-image-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 5px;
    position: static;
    z-index: 0;
  }

  .modal-image-info p {
    /* margin-left: 8px; */
    padding: 0 0 0 8px;
    font-size: 13px;
  }

  .photographer,
  .likes {
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .likes {
    margin: 0;
  }

  .photographer {
    position: static;
  }
}